/****************************** 
************CSS重置************ 
******************************/

body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
form,
fieldset,
input,
textarea,
p,
blockquote,
th,
td {
	margin: 0;
	padding: 0;
}
fieldset,
img {
	border: 0;
	vertical-align:top;
}
ol,
ul {
	list-style: none;
}
h1,
h2,
h3,
h4,
h5,
h6,
button,
input,
select,
textarea {
	font-size: 100%;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
	padding: 0;
	border: 0;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
i,
cite,
em,
var,
dfn,
address {
	font-style: normal;
}
body {
	
}
a {
	color: #152137;
	text-decoration: none;
	/* transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all; */
}
a {
	blr: expression(this.onFocus=this.blur());
}
a {
	outline: none;
}
a:focus {
	outline: none;
}
a:hover {
	text-decoration: none;
	cursor:pointer;
}
li{list-style: none;}
a:active,
a:focus {
	outline: none
}
.clearfix:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
	font-size: 0;
}
.clearfix {
	zoom: 1;
	clear: both;
}
.clear {
	clear: both;
	height: 0;
	line-height: 0;
	font-size: 0;
}
.fl {
	float: left;
}
.fr {
	float: right;
}

.clear:after {
	display: block;
	content: '';
	clear: both;
}
body{font-size: .3rem;color: #333;}

.public-color{background: #3673BB;}
.mui-pull-bottom-pocket .mui-pull-caption,.mui-pull-top-pocket .mui-pull-caption{font-size: .28rem;color: #666;font-weight: normal;}
.mui-table-view:after,.mui-table-view:before{height: 0;}
/* 没有数据 */
.none_img{height: 5rem;line-height: 8rem; background: url(../icon/none_img.png) no-repeat center 1rem;background-size: 50% auto;text-align: center;font-size: .3rem;color: #666;}

.back-top{ position: absolute;bottom: .3rem;right: .3rem;width: .7rem;height: .7rem;z-index: 10;}
.back-top .data-num{display: none;width: .7rem;height: .7rem;border-radius: 50%;border: 1px #e5e5e5 solid;padding: .05rem .1rem;box-sizing: border-box;}
.back-top p{margin-bottom: 0; line-height: .3rem;color:#666;font-size: .20rem;text-align: center;}
.back-top .now-num{ border-bottom: 1px #666 solid;}
.back-top .back-top-icon{display: inline-block;width: .8rem;height: .8rem; border: 1px #e5e5e5 solid;border-radius: 50%; background:url(../icon/back_top.png) no-repeat center center;background-size: .45rem auto;}

/* 公用头部 */
.fixed-top{position: absolute;top: 0;left: 0;width: 100%;z-index: 10;}
.header-back{position: absolute;top: 0;left: 0;width: 100%; height: .96rem;}
.header-back .back-btn{position: absolute;top: 0;left: 0; width: 1.3rem;height: .96rem;line-height: .8rem; padding-left: .6rem;box-sizing: border-box; font-size: .32rem;color: #FEFEFE;z-index: 2;}
.header-back .back-btn .back-icon{position: absolute;left:.3rem; top: .25rem;width: .23rem;height: .4rem;background: url(../icon/back.png) no-repeat 0 0;background-size: 90% auto;}
.header-back .header-title{position: absolute;top: 0;left: 0;width: 100%;height: 100%;line-height: .96rem; padding: 0 2rem;box-sizing: border-box;text-align: center;font-size: .32rem;color: #fff;}
.header-back .screening{position: absolute; right:0;top: 0;width: 1.15rem;height: 100%;line-height:  .96rem;color: #fff;font-size: .28rem; z-index: 2;}
.header-back .screening .screening-icon{position: absolute;right: .2rem;top: .45rem;width: .2rem;height: .1rem;background: url(../icon/screening_icon.png) no-repeat 0 0;background-size: 90% auto;}

/* 公用搜索 */
.search-base {position: absolute;top: .96rem;left: 0;width: 100%; height: .78rem;padding: .14rem .3rem;box-sizing: border-box;}
.search-base .search-box{height: .5rem; border-radius: .23rem;background: #EFEFEF}
.search-base .search-box form{float: left;height: .5rem;padding-top: .03rem;}
.search-base .search-box .search-icon{float: left;display: inline-block;width: .28rem;height: .3rem;margin: .1rem .2rem 0 .24rem;background: url(../icon/search.png) no-repeat 0 0;background-size: 100% auto;}
.search-base .search-box input{width: 4rem;height: .4rem;background: none;border: none;font-size: .22rem; outline:none;padding: 0;margin: 0;text-align: left;}
.search-base .search-box input::-webkit-input-placeholder{font-size: .22rem;}
.search-base .search-box .del-icon{display: none; float: right;margin: .1rem .3rem 0 0;width: .29rem;height: .32rem;background: url(../icon/clear.png) no-repeat 0 0;background-size: 100% auto;}

.mui-content{background: none;}
.mui-table-view{padding: 0 .3rem;background: none;}

/* 火警告警 */
.fire-alarm .fire-list{position: absolute;top: 1.74rem;left: 0;bottom: 0; width: 100%;}
.fire-alarm .fire-list .item{height: 1.9rem; margin-top: .2rem; border-radius:.1rem;border:1px solid rgba(229,229,229,1);box-shadow:.02rem .03rem .1rem 0px rgba(208,208,208,0.47);background:rgba(255,255,255,1); }
.fire-alarm .fire-list .item .title{position: relative;margin-bottom: .15rem; padding: .2rem .25rem;padding-right: 1.5rem; border-bottom: 1px #E5E5E5 solid; font-size: .3rem;color:rgba(51,51,51,1);overflow: hidden;text-overflow:ellipsis;white-space: nowrap;}
.fire-alarm .fire-list .item .color-gray{padding: 0 .25rem; font-size: .24rem;color: #666;overflow: hidden;text-overflow:ellipsis;white-space: nowrap;}
.fire-alarm .fire-list .item .state{position: absolute;top: .1rem;right: 0; width: 1.08rem;height: .37rem;line-height: .37rem;border:1px solid rgba(64,137,215,1);border-radius: .19rem; margin-right: .25rem;margin-top: .1rem; font-size: .22rem;color:#4089D7;text-align: center;}

/* 详情页 */
.fire-alarm-details .mui-scroll-wrapper{overflow: auto;}
.fire-alarm-details .main{position: absolute;top: .96rem;left: 0;bottom: 0; width: 100%;}
.fire-alarm-details .main .card{margin-top: .2rem;background:rgba(255,255,255,1);box-shadow:.02rem .03rem .1rem 0px rgba(199,199,199,0.47); border-radius:.1rem;}
.fire-alarm-details .main .title{position: relative;padding: .2rem .24rem .2rem .5rem;border-bottom: 1px #e5e5e5 solid; font-size: .28rem;color: #333;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}
.fire-alarm-details .main .title i{position: absolute;top: .24rem;left: .24rem; display: inline-block;width: .08rem;height: .33rem;background:rgba(93,191,242,1);border-radius: .04rem;}
.fire-alarm-details .main .map{height: 3.75rem;padding: .25rem;}
.fire-alarm-details .main .phone-list{padding: 0 .25rem;}
.fire-alarm-details .main .phone-list .clearfix{height: 1.2rem; line-height: .4rem;padding-top: .25rem;box-sizing: border-box; border-bottom: 1px #DBDBDB solid;color: #999;font-size: .24rem;}
.fire-alarm-details .main .phone-list .clearfix .fl{width: 5rem;}
.fire-alarm-details .main .phone-list .clearfix .fl img{float: left; width: .74rem;height: .74rem;margin-right: .25rem; border-radius: 50%;}
.fire-alarm-details .main .phone-list .clearfix .fl .text-info{float: left;width: 4rem;}
.fire-alarm-details .main .phone-list .clearfix .name{color: #333;font-size: .28rem;}
.fire-alarm-details .main .phone-list .clearfix .name .post{margin-left: .2rem;font-size: .22rem;color: #666}
.fire-alarm-details .main .phone-list .clearfix .telephone-number{font-size: .24rem;color: #999;}
.fire-alarm-details .main .phone-list i{position: relative;top: .15rem; display: inline-block;width: .32rem;height: .32rem; background:url(../icon/callPhone_icon.png) no-repeat 0 0;background-size: 100% auto;}
.fire-alarm-details .main .phone-list .clearfix:last-child{border:none;}
.fire-alarm-details .main .admin-people .phone-list .clearfix:last-child{border-bottom: 1px #e5e5e5 solid;}
.fire-alarm-details .main .community-title{line-height: 100%; padding-left: .25rem;margin: .25rem 0 0 0;font-size: .24rem;color: #666;}
.fire-alarm-details .main .community .people{padding: 0 .25rem;line-height: .9rem;border-bottom: 1px #DBDBDB solid;font-size: .24rem;}
.fire-alarm-details .main .community .people>.fl{width: 1.95rem;}
.fire-alarm-details .main .community .people .phone-list{padding: 0;}
.fire-alarm-details .main .community .people>.fr{width: 4.1rem;}

.fire-alarm-details .logs{margin-top: .1rem;}
.fire-alarm-details .logs .title{border:none;margin-bottom: .2rem;}
.logs .main-list .item:last-child .state-icon{background: url(../icon/process_end_icon.png) no-repeat 0 0;background-size: 100% auto;}
.logs .main-list .item:first-child .state-icon{background: url(../icon/alarm_icon.png) no-repeat 0 0;background-size: 100% auto;}

.fire-alarm-details .main-list .item{position: relative;}
.fire-alarm-details .main-list .item>div{height: 100%; padding-bottom: .25rem;}
.fire-alarm-details .main-list .item>div:before{content: "";position: absolute;left: .45rem;top: 1.1rem;bottom: 0;width: 1px;background: #a9c6e5;}
.fire-alarm-details .main-list .item:last-child>div:before{content: "";display: none;} 
.fire-alarm-details .main-list .item .fl{width: .9rem;text-align: center;margin-right: .3rem;}
.fire-alarm-details .main-list .item .state-icon{display: block;width: .4rem;height: .4rem;margin: 0 auto;background: url(../icon/process_ing.png) no-repeat 0 0;background-size: 100% auto;}
.fire-alarm-details .main-list .item .first-icon{background: url(../icon/maintenance_one_icon.png) no-repeat 0 0;background-size: 100% auto;}
.fire-alarm-details .main-list .item .end-icon{background: url(../icon/process_end_icon.png) no-repeat 0 0;background-size: 100% auto;}
.fire-alarm-details .main-list .item .time{font-size: .20rem;color: #a6a6a6;}
.fire-alarm-details .main-list .item .data{font-size: .24rem;}
.fire-alarm-details .main-list .item .fr{width: 5.3rem;border-radius: .1rem;box-shadow:.02rem .03rem .1rem 0px rgba(199,199,199,0.47); background: #fff;}
.fire-alarm-details .main-list .item .state{height: .6rem;line-height: .6rem;border-bottom: 1px #dcdcdc solid;padding-left: .3rem;color: #3574bb;font-size: .28rem;}
.fire-alarm-details .main-list .item .info-list{line-height: .5rem; padding: .1rem .1rem .1rem .3rem;color: #333;font-size: .24rem;}
.fire-alarm-details .main-list .item .info-list .color-gray{color: #999;}
.fire-alarm-details .main-list .item .img-box {margin-top: .2rem;margin-left: .3rem;}
.fire-alarm-details .main-list .item .img-box img{width: .9rem;height: .9rem;border-radius: .08rem;margin: 0 .2rem .2rem 0;}
.fire-alarm-details .task-cancel{height: .8rem;line-height: .8rem;padding-left: .3rem;background: #fff; color: #999;font-size: .28rem;box-shadow: #dadada 0px 0px 10px;border-radius: .1rem;}
.fire-alarm-details .cancel-time{position: relative;top: .2rem; clear: both; width: 1.52rem;height: .46rem;line-height: .46rem; border-radius:23px; margin: .2rem auto; background: #ccc;font-size: .3rem;color: #fff;text-align: center;}

#container {width:100%; height: 3.25rem; border-radius: .06rem;}
.amap-logo{display: none!important}