.main-scroll{
    background-color: #EFEFEF;
    padding-top: 0.25rem;
}
.clear::after{
    content: '';
    height: 0;
    clear: both;
    visibility: hidden;
    display: block;
}
.headRight{
    padding-right: 0.3rem;
}
.headRight>.title{
    margin-right: 0.14rem;
    color: #FEFEFE;
    font-size: 0.32rem;
}
.headRight>.rightIcon{
    width: 0.14rem;
    height: 0.08rem;
    vertical-align: middle;
}
.eqd_serchWrap{
    width: 100%;
    height: 0.78rem;
    line-height: 0.78rem;
    background-color: #3673BB;
    box-sizing: border-box;
    padding-top: 0.16rem;
}
.eqd_search{
    width: 6.6rem;
    height: 0.46rem;
    margin: 0 auto;
    border-radius: 0.23rem;
    background-color: #ffffff;
}
.eqd_search>.search{
    width: 0.28rem;
    height: 0.36rem;
    display: inline-block;
    vertical-align: top;
    margin-top: 0.05rem;
    margin-left: 0.16rem;
}
.eqd_search>input{
    width: 70%;
    height: 0.46rem;
    display: inline-block;
    vertical-align: top;
    border: none;
    outline: none;
    background-color: transparent;
    font-size: 0.22rem;
    margin-left: 0.18rem;
}
.eqd_search>input::-webkit-input-placeholder {
    font-size: 0.22rem;
    color: #999999;
}
.eqd_search>.clear{
    width: 0.29rem;
    height: 0.36rem;
    vertical-align: top;
    margin-top: 0.05rem;
    float: right;
    margin-right: 0.16rem;
}


.eventAll{
    width: 6.63rem;
    padding:0 0.25rem;
    background-color: #ffffff;
    border-radius: 0.08rem;
    margin: 0 auto;
    box-sizing: border-box;
    padding-bottom: 0.38rem;
    /* margin-top: 0.25rem; */
}
.event_item{
    width: 100%;
    border-bottom: 1px solid #E5E5E5;
    height: 0.9rem;
}
.border-bottom-none{
    border-bottom: none !important;
}
.event_item_l{
    float: left;
    padding-top: 0.25rem;
}
.event_item_l>img{
    width: 0.36rem;
    height: 0.36rem;
    vertical-align: middle;
}
.event_item_l>.title{
    font-size: 0.28rem;
    color: #333333;
    vertical-align: middle;
    margin-left: 0.22rem;
}
.event_item_r{
    float: right;
    padding-top: 0.25rem;
}
.event_item_r>.title{
    font-size: 0.22rem;
    color: #999999;
    vertical-align: middle;
    margin-right: 0.05rem;
}

/* 
*筛选 
*/

/* .screenWrap{
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 99;
}
.screen_all{
    width: 100%;
    background-color: #F4F4F4;
} */
/* .typeOne{
    width: 100%;
    border-bottom: 1px solid #DCDCDC;
}
.type_title{
    width: 100%;
    text-align: center;
    font-size: 0.3rem;
    color: #333333;
    padding-top: 0.25rem;
}
.type_item{
    width: 100%;
    padding-bottom: 0.37rem;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.type_item_son{
    width: 2.2rem;
    height: 0.59rem;
    margin-top: 0.21rem;
    line-height: 0.59rem;
    text-align: center;
    font-size: 0.26rem;
    color: #666666;
    background-color: #FFFFFF;
    border-radius: 0.08rem;
    box-shadow:2px 3px 10px 0px rgba(157,186,218,0.47);
}
.active{
    background-color: #1A8EE9;
    color: #ffffff;
    box-shadow:2px 3px 10px 0px rgba(26,142,233,0.32);
}
.seleBtn{
    width: 100%;
    border-bottom: 1px solid #DCDCDC;
    padding: 0.39rem 0;
}

.shureBtn{
    width: 6.6rem;
    height: 0.84rem;
    line-height: 0.84rem;
    margin: 0 auto;
    background-color: #1A8EE9;
    border-radius: 0.08rem;
    text-align: center;
    font-size: 0.32rem;
    color: #ffffff;
    box-shadow:2px 3px 10px 0px rgba(26,142,233,0.47);
} */

